### Taken from https://github.com/github/gitignore
### CMake - commit: a0e05f9d08080a286311721593eb6a23266d9637
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

### CUSTOM
# ignore directories relative to this directory which start with an underscore
/_*/

/data/

log.txt
imgui.ini
settings.toml
